.forms-container{
	position: fixed;
	top: 120px;
	left: 70%;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	padding: 0px 30px 30px 30px;
}

.heading{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.heading>h3{
	font-family: Roboto;
	opacity: 70%;
}

.title, .description{
	display: flex;
	flex-direction: column;
}

.title{
	margin-bottom: 30px;
}

.btn{
	margin-top: 20px;
	float: right;
}