.task-container {
	border: 1px solid black;
	width: 400px;
	font-family: Roboto;
	margin: 10px 0;
}

.task-container>h3{
	border-bottom: 1px solid black;
	padding-left: 10px;
}

.task-container>p{
	font-size: 10pt;
	padding-left: 10px;
}

.action-btn{
	display: flex;
	justify-content: right;
	margin: 0 10px 10px 0;
	font-size: 16pt;
	cursor: pointer;
}

.edit {
	margin-right: 10px;
}